:host {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
    width: auto;
}

.drf {
    display: flex;
    z-index: 2;
    flex-direction: column;
    &__description {
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        position: absolute;
        right: 2vw;
        top: 9rem;
        width: 50vw;
        padding: 1.5rem;
        box-sizing: border-box;
        line-height: 1.6;
        border-radius: 20px;
    }
}

.model {
    display: flex;
    height: 85vh;
    transition: .2s;
    &--hidden {
        opacity: 0;
    }
}

.image {
    top: 5rem;
    left: 7rem;
    position: absolute;
    width: 30rem;
}


.bg-pattern { 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
    background-image: url('data:image/svg+xml,%3Csvg width="52" height="26" viewBox="0 0 52 26" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="teal" fill-opacity="0.4"%3E%3Cpath d="M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E') ;
    background-size: 15%;
    animation: bg-animation 20s linear infinite;
}
  
h2 {
    margin: 0 0 .5rem;
}

h3 {
    padding: .5rem;
    color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    width: fit-content;
    font-size: 1rem;
    margin: 1rem 0 .2rem;
    cursor: pointer;
}

.pros {
    background-color: rgba(37, 128, 37, .6);
}

.cons {
    background-color: rgba(255, 0, 0, .6);
}

@keyframes bg-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}