<div class="content">
  <h1 class="title">intake</h1>
  <p class="description">
    Creating a reliable <code>claw</code> design was a really difficult process, we've been
    through many prototypes and ideas before getting to <span class="mark">our final design</span>. At the
    start of the season we thought of different ways <span class="underline">we could manipulate de
    cones</span>. One of the first ideas was grabbing the cone by inserting an
    extending claw inside the top hole, basically a <code>cylinder</code> with a diameter
    smaller than the small hole in the cone that would extend it's diameter to
    secure the <code>cone</code>. This idea got quickly canceled because it required more
    precise alignment and it was the slowest of all. Another idea was <span class="mark">grabbing
    the cones with a claw</span>. First claw prototype was a simple claw with <code>cadder</code>
    for gripping, it didn't work well at all because the cadder could fall off
    and wasn't <code>reliable</code> enough. The second claw we made was by <span class="underline">adding surgical
    tubing for gripping the cone</span>, basically the surgical tubing would go around
    the cone and safely secure it. This was one of the best designs this season,
    but it got changed because the claw was to big for our own needs. The third
    and last <code>prototype</code> we created consisted of a claw with molded silicone for
    gripping the cone. This <code>design</code> proved to be the best because it was very
    reliable and compact.
  </p>
  <app-info></app-info>
  <img class="hero-image" src="/assets/intake.webp" />
</div>
<div class="triangle triangle__first"></div>
<div class="triangle triangle__second"></div>
<div class="triangle triangle__third"></div>
