<div class="content">
  <h1 class="title">drivetrain</h1>
  <p class="description">
    The drivetrain underwent two main significant iterations this season.
    Initially, we established criteria for what we wanted from the <code>drivetrain</code>:
    <span class="mark">compact, easy to maintain and modify, and integrated odometry</span>. Each
    drivetrain consisted of two side modules made from <code>CNC</code> cut materials. The
    first iteration of the drivetrain was in the form of an <code>L-shaped drive</code> with
    mecanum wheels and <span class="underline">custom odometry integrated into the side modules</span>. The
    unique aspect of this iteration was the ability to mount the <code>expansion hubs</code>
    safely and easily accessible at the back of the robot on two low U-channels.
    Although well made and with integrated odometry, it was eventually replaced
    due to new drivetrain criteria. This drivetrain <span class="mark">was used in the first and
    second versions of the robot</span>, the first one with sliders and the second one
    with a double reverse four-bar mechanism. The second iteration of the
    drivetrain had a <code>distinct</code> shape. It was larger to accommodate the <code>extendo</code>
    mechanism, but as a result, <code>odometry</code> was not integrated into the side
    modules. Despite its larger size, it made it to the latest version of our
    robot and is a <span class="underline">strong, stable, and well-built</span> drivetrain made of aluminum
    material.
  </p>
  <app-info></app-info>
  <img class="hero-image" src="/assets/dt.webp" />
</div>
<div class="first-line"></div>
<div class="second-line"></div>
