<h1 class="title">Our robot</h1>
<p class="description">
  The second version of our robot had a <span class="underline">double reverse four bar</span> mechanism for
  lifting the cones up to high junction. We started by fully <code>3D printing</code> a
  simple mechanism for testing out the concept before making a bigger one, with
  success we went to the next step by building a proper full size mechanism from
  <span class="mark">laser cut plexiglass</span>. The plexiglass prototype worked very well, but with one
  problem because the material is very bendy and could easily shatter. At the
  same time with this <code>prototype</code> we realised the potential of the mechanism due
  to its speed. The final version was built from <code>aluminum bars</code>, with this
  version we managed to see both <span class="underline">advantages and disadvantages</span> of the mechanism.
  It is fast, reaching high junction in less than a second, but not precise
  enough for taking cones from stacks. Another problem was that motors were put
  under high load making and eventually burning the motors, this problem <span class="mark">was
  slightly fixed by tensioning the lift with surgical tubing</span>, but it still
  wasn't good enough for our needs.
</p>
<div class="circle circle--first"></div>
<div class="circle circle--second"></div>
<div class="circle circle--third"></div>
<img class="hero-image" src="/assets/dr4b/image.webp" />
<app-info></app-info>