:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5rem;
  padding-bottom: 0;
  width: auto;
  height: 100%;
}

.title {
  margin-top: 0rem;
  font-size: 8rem;
  z-index: 2;
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  background: linear-gradient(
      45deg,
      #539AFF,
      #26ACE0,
      #36F7F4,
      #26E0A1,
      #2AF870,
      #539AFF
  );
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
  animation: 
    text-clip 1s cubic-bezier(0.5, 0, 0.1, 1) both,
    background-pan 5s linear infinite reverse;
}

.description {
  font-weight: bold;
  z-index: 2;
  width: 62%;
  opacity: 0;
  line-height: 1.6;
  font-size: 1rem;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  animation: tie-slide-in-right .4s .3s forwards;
}

.circle {
  border-radius: 50%;
  opacity: .3;
  position: absolute;
  transform: scale(0);
  animation: .4s show cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  &--first {
    width: 700px;
    height: 700px;
    top: -200px;
    right: -200px;
    background-image: linear-gradient(45deg, #66bb6a, #00bcd4);
  }
  &--second {
    width: 300px;
    height: 300px;
    left: 500px;
    background-image: linear-gradient(to top, #66bb6a, #00bcd4);
    bottom: -30px;
    animation-delay: .3s;
  }
  &--third {
    width: 100px;
    height: 100px;
    top: 150px;
    background-image: linear-gradient(120deg, #66bb6a, #00bcd4);
    left: 200px;
    animation-delay: .5s;
  }
}

.hero-image {
  position: absolute;
  right: 5rem;
  top: 10rem;
  width: 25rem;
  height: auto;
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
  animation: tie-slide-in-left .4s forwards;
}

@keyframes show {
  to { transform: scale(1); }
}